/* color palette from <https://github.com/vuejs/theme> and <https://nordtheme.com> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;
  --vt-c-blue: #88c0d0;
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --color-foreground: cornflowerblue;
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-shadow: #ccc;
  --color-scrollbar: var(--color-shadow);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: var(--vt-c-blue);
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-shadow: #000;
    --color-scrollbar: var(--vt-c-blue);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.placeholder:empty:before {
  --url: url('/bg_music.svg');
  content: '';
  background-image: var(--url);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem;
}
.placeholder:empty:after {
  --text: 'Start Searching...';
  content: var(--text);
  position: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  opacity: 0.6;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 0.3rem;
}
::-webkit-scrollbar-button:single-button {
  height: 0.75rem;
}

*:focus {
  outline: none;
}

button {
  border: none;
  background: transparent;
  color: var(--color-text);
  appearence: none;
}

/* Components and Helpers */

.bi {
  color: var(--color-text);
  font-size: 1.25rem;
  transition: color 0.3s ease;
}
.bi:hover,
.bi.true {
  color: var(--color-foreground);
}

.caps {
  text-transform: capitalize;
}

.bg-img {
  background-image: linear-gradient(45deg, #88c0d0, #5e81ac);
  background-position: center;
  background-size: cover;
  border-radius: .25rem;
}
.bg-img.lazy {
  background-image: var(--art);
}
.search-artists .bg-img {
  border-radius: 50%;
}

.pop {
  --shadow: none;
  --translate: 0;
}
.pop,
.pop-2 {
  transition: box-shadow 0.4s ease, transform 0.4s ease;
}
.pop:hover {
  --shadow: 0.5rem 0.5rem 1rem var(--color-shadow);
  --translate: -1.25rem;
  box-shadow: var(--shadow);
  transform: translateX(calc(var(--translate) / 2))
    translateY(calc(var(--translate) / 2));
}
.pop-2 {
  transform: translateX(var(--translate)) translateY(var(--translate));
  box-shadow: var(--shadow);
}

.popup-wrap {
  --display: none;
  position: relative;
}
.popup-wrap:hover,
.popup-wrap:focus,
.popup:focus,
.popup:active {
  --display: flex;
}
.popup {
  position: absolute;
  display: var(--display);
  background-color: var(--color-background);
  padding: 0.5rem;
  border-radius: 0.125rem;
  z-index: 999;
  bottom: 1.25rem;
  box-shadow: 0 0 0.5rem var(--color-border);
  animation: fade 0.4s ease;
}

.bars-wrap {
  position: absolute;
  height: 1.5rem;
  width: 2rem;
  transform: rotateZ(180deg);
}
.bars {
  position: relative;
  height: 15%;
  width: calc(calc(100% / 3) - 0.2rem);
  margin-left: 0.1rem;
  background: var(--color-foreground);
  float: left;
  animation: heightc 1s ease infinite;
}
.bars:first-child {
  animation-delay: 0.25s;
}
.bars:nth-child(2) {
  animation-delay: 0.5s;
}
.bars:last-child {
  margin-left: none;
}

/* Animations */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fill {
  from {
    width: 0;
  }
  to {
    width: var(--width);
  }
}
@keyframes heightc {
  50% {
    height: 100%;
  }
}
